<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Your Orders</h2>
{% for order in orders %}
  <div>
    <p>Order ID: {{ order.uid }}</p>
    <p>Total: ₹{{ order.total_price }}</p>
    <ul>
      {% for item in order.items.all %}
        <li>{{ item.product.name }} - {{ item.quantity }} x ₹{{ item.price }}</li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}
</body>
</html>